<ion-header>
  <ion-toolbar>
    <ion-title>
      Modificar Rol del Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar (ionInput)="filtrarUsuarios($event)"></ion-searchbar>


<ion-content class="ion-padding">
  <ion-card *ngFor="let usuario of usuariosFiltrados; let i = index" class="custom-card" [ngClass]="{'card-seleccionada': i === cardSeleccionada, 'card-no-seleccionada': i !== cardSeleccionada}" (click)="seleccionarCard(i)">
    <!-- Aquí muestra los detalles del usuario en cada tarjeta -->
    <ion-card-header>
      {{ usuario.correo }}
    </ion-card-header>
    <ion-card-content>
      <div class="user-info">
        <ion-icon name="person-circle" class="user-icon"></ion-icon>
        <h2>Rol: {{ usuario.rol }}</h2> <!-- Muestra el rol del usuario -->
      </div>
      <ion-button (click)="editarUsuario(usuario)" fill="clear" class="edit-button">
        <ion-icon class="edit-brush-icon" name="pencil"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

